.loader {
  width: 0;
  height: 0;
  padding: 10px;
  animation: spin 1s infinite linear;
  border: 6px solid $corail;
  border-bottom-color: transparent;
  border-radius: 22px;
}

@keyframes spin {
  from {
	transform: rotate(0deg);
  }
  to {
	transform: rotate(360deg);
  }
}
