.flat-item {
  &__container {
	padding: 50px;
	border-radius: 24px;
	background: $lightGray;
	@include mobile {
	  padding: 0;
	  background: $white;
	}
  }
  
  &__repeater {
	display: grid;
	width: fit-content;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 50px 50px;
	grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
	padding-inline-start: 0;
	@include tablet {
	  grid-template-columns: 1fr 1fr;
	  grid-template-rows: 1fr 1fr;
	  grid-template-areas:
    ". ."
    ". .";
	}
	@include mobile {
	  display: flex;
	  flex-direction: column;
	}
  }
}
