.error{
  &__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2.4rem;
    @include mobile{
      margin-top: 20%;
      margin-bottom: 20%;
    }
  }
  &__404{
    height: fit-content;
    font-size: 29rem;
    font-weight: 700;
    @include mobile{
    font-size: 9.6rem;
    }
  }
  &__subtitle{
    font-size: 3.6rem;
    font-weight: 300;
    margin-bottom: 8rem;
    @include mobile{
      font-size: 1.8rem;
    }
  }
  &__link{
    font-size: 1.8rem;
    text-decoration: underline;
    @include mobile{
      font-size: 1.4rem;
    }
  }
}
