  //noinspection SassScssResolvedByNameOnly
nav{
  @include mobile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 180px;
  }
}
  .header{
  &__container{
    margin:2.4rem;
    padding: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile{
      margin: 1.6rem;
      padding: 1.6rem;
    }
  }
    &__logo{
      @include mobile{
        width: 140px;
      }
    }
  &__nav{
    padding-inline-start: 0;
    width: 320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 2.4rem;
    @include mobile{
      font-size: 1.6rem;
      justify-content: flex-end;
    }
    &-link{
      color: $corail;
      @include mobile{
        margin-left: 2.4rem;
      }
      &--active{
        color: $corail;
        position: relative;
        @include mobile{
          margin-left: 2.4rem;
        }
        &::after {
          content: "";
          height: 2px;
          width: 0;
          background: $corail;
          position: absolute;
          border-radius: 10px;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          -webkit-animation: anim 0.2s ease forwards;
          animation: anim 0.3s ease forwards;

          @-webkit-keyframes anim {
            to {
              width: 100%;
            }
          }
          @keyframes anim {
            to {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
