// noinspection SassScssResolvedByNameOnly
* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

body {
  font-size: 1.6rem;
  min-height: 100vH;
  color: $corail;
  background: $white;
}

main {
  @include pageMargin()
}

a {
  text-decoration: none;
  color: $corail;
}

.banner {
  position: relative;
  height: fit-content;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 26px;
  background: $Black;
  @include smallMobile {
	margin-top: 24px;
  }
  
  > img {
	z-index: 1;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	border-radius: 25px;
	@include mobile {
	  width: 100%;
	  height: 111px;
	}
  }
  
  &.banner--about {
	@include mobile {
	  height: 223px;
	  > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	  }
	}
  }
  
  > span {
	z-index: 2;
	@include absoluteCentered();
	font-size: 4.8rem;
	width: max-content;
	color: $white;
	@include tablet {
	  font-size: 2.8rem;
	}
	@include mobile {
	  font-size: 1.8rem;
	}
	@include smallMobile {
	  font-size: 1.4rem;
	}
	
  }
}
