.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100% !important;
  height: 209px;
  margin-top: 80px;
  padding: 40px 20px 20px 20px;
  color: $white;
  background-color: $Black;
  
  > img {
	width: 122px;
	margin-bottom: 40px;
	@include smallMobile {
	  width: 80px;
	}
  }
  
  > p {
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	@include mobile {
	  font-size: 14px;
	}
  }
}
