//noinspection SassScssResolvedByNameOnly
* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

body {
  background: $white;
  color: $corail;
  font-size: 1.6rem;
  margin-left: 100px;
  margin-right: 100px;
  @include mobile {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
  }
}

a {
  text-decoration: none;
  color: $corail;
}

.banner {
  height: fit-content;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  background: $Black;
  border-radius: 26px;
  max-width: fit-content;

  > img {
    z-index: 1;
    border-radius: 25px;
    opacity: 0.7;
  }

  > span {
    z-index: 2;
    @include absoluteCentered();
    width: max-content;
    color: $white;
    font-size: 4.8rem;
    @include mobile {
      font-size: 2.4rem;
    }

  }
}
