//noinspection SassScssResolvedByNameOnly
*{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
body{
  background: $white;
  color: $corail;
  font-size: 1.6rem;
}
a{
  text-decoration: none;
  color: $corail;
}
